

body {
    background-image: url("fondo.jpg");
    background-color: #106010;
    font-family:Andele Mono, monospace;
	}
h2,h3,h4 {
		color: #11BB11;
		background-color: #108010;
	}

h1 {
		color: #11BB11;
		background-color: #11AA11;
	}

.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}
