

body {
    background-image: url("fondo.jpg");
    background-color: #274a21;
    font-family:Andele Mono, monospace;
	}
h2,h3,h4 {
		color: #6e7954;
		background-color: #050505;
	}

h1 {
		color: #5e9325;
		background-color: #1d2e0b;
	}

.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}
